<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
         <!-- Dark Logo-->
         <a href="dashboard" class="logo logo-dark">
            <span class="logo-sm">
                <img src="assets/images/logo-color-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="assets/images/logo-color.png" alt="" height="17">
            </span>
        </a>
        <!-- Light Logo-->
        <a href="dashboard" class="logo logo-light">
            <span class="logo-sm">
                <img src="assets/images/logo-color-sm.png" alt="" height="30">
            </span>
            <span class="logo-lg">
                <img src="assets/images/logo-mix.png" alt="" height="50">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">

            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">
                <% if (event_objectCookie.role == "Admin") { %>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="dashboard">
                            <i class="ri-dashboard-line"></i> <span data-key="t-dashboard">Dashboard</span>
                        </a>
                    </li>
                
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="participants">
                            <i class="las la-users"></i> <span data-key="t-participants">Participants</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link menu-link" href="attendance">
                            <i class="las la-user-check"></i> <span data-key="t-attendance">Attendance</span>
                        </a>
                    </li>
                <%}  %>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="scan-participant">
                        <i class="bx bx-qr"></i> <span data-key="t-scan-participant">Scan Participants</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="souvenir-exchange">
                        <i class="bx bx-gift"></i> <span data-key="t-souvenir-exchange">Souvenir Exchange</span>
                    </a>
                </li>

                <div id="two-column-menu">
            </div>
           
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarManagepage" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarManagepage">
                        <i class="ri-folder-open-line"></i> <span data-key="t-managepage">Manage Page</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarManagepage">
                        <ul class="nav nav-sm flex-column">
                            <% if (event_objectCookie.role == "Admin") { %>
                                <li class="nav-item">
                                    <a href="manage-user" class="nav-link" data-key="t-manage-user">Users</a>
                                </li>
                            <%}  %>
                            <% if (event_objectCookie.role == "Admin") { %>
                                <li class="nav-item">
                                    <a href="manage-event" class="nav-link" data-key="t-manage-event">Events</a>
                                </li>
                            <%}  %>
                            <li class="nav-item">
                                <a href="manage-spin" class="nav-link" data-key="t-manage-spin">Spin The Wheel</a>
                            </li>
                            <% if (event_objectCookie.role == "Admin") { %>
                                <li class="nav-item">
                                    <a href="manage-surveyresponses" class="nav-link" data-key="t-manage-surveyresponses">Feedback Responses</a>
                                </li>
                            <%}  %>
                        </ul>
                    </div>        
                </li>   
            </ul>
        </div>
        <!-- Sidebar -->
    </div>

    <div class="sidebar-background"></div>
</div>
<!-- Left Sidebar End -->
<!-- Vertical Overlay-->
<div class="vertical-overlay"></div>